<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="mr-2"> 🐝️ </span>
      Bee Moji
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">

  <ul class="nav nav-tabs">
    <li class="nav-item"
        *ngFor="let cat of categories">
      <a class="nav-link"
         routerLink="main"
         routerLinkActive="active"
         [queryParams]="{ cat: cat }">{{cat}}</a>
    </li>
  </ul>


  <div class="row mt-3">

    <div class="col-4 mb-2" *ngFor="let emoji of emojis | category : activeCat">
      <div class="card h-100">
        <div class="card-body p-2 d-flex">
          <h1 class="text-center">
            {{emoji.emoji}}
          </h1>

          <div class="ml-3 w-100">
            <small>{{emoji.description}}</small>
            <small class="d-block text-muted mt-`">
              <span *ngFor="let alias of emoji.aliases">
                {{alias}}
              </span>
            </small>

            <div class="mt-1">
              <small class="badge badge-primary mr-2"
                    *ngFor="let tag of emoji.tags">
                {{tag}}
                <button class="btn badge badge-light">x</button>
              </small>
            </div>
            <form (submit)="addTag(emoji, tag)">
              <input type="text"
                     placeholder="Add new tag"
                     name="tag"
                     #tag
                     autocomplete="off"
                     class="form-control form-control-sm mt-1">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>